# Created by https://www.gitignore.io/api/laravel

### Laravel ###
vendor/
node_modules/
npm-debug.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot
storage/*.key
.env.*.php
.env.php
.env
Homestead.yaml
Homestead.json

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/
package-lock.js
*.code-workspace
.vscode/
public/build/assets/app-Cbfznh_W.css
public/build/assets/app-D9IdX_ep.css
database/
launch.json
manifest.json
packaje.json
package-lock.json

public/build/assets/app-CxrIEHBE.css

public/build/assets/app-DDznlHpp.js
